// Theme navigation styles

.nav {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		float: left;
		margin: 0;
		a {
			padding: 10px 20px;
			display: block;
			&:hover,
			&:focus {

			}
		}

		// child menus
		ul {
			display: none;
			visibility: hidden;
		}

		&:hover,
		&:focus {
			ul {
				display: block;
				visibility: visible;
			}
		}
	}
}