// Form Styles

form {
	input, 
	textarea, 
	select {
		&:focus {
			outline: 0;
		}
	}

	input, 
	textarea {
		width: 100%;
		padding: 10px;
	}

	textarea {
		resize: none;
	}

	label {

	}

	input[type=submit] {
		background-color: transparent;
		border: 0;
		outline: 0;
	}

	input[type=text],
	input[type=email],
	input[type=url],
	input[type=tel],
	input[type=password],
	input[type=date],
	input[type=number],
	input[type=search] {

	}

	// Placeholders
	input::-webkit-input-placeholder {
		color: lighten($site-copy-color, 16%);
	}

	input:-moz-placeholder {
		color: lighten($site-copy-color, 16%);
    	opacity: 1;
	}

	input::-moz-placeholder {
		color: lighten($site-copy-color, 16%);
    	opacity: 1;
	}

	input:-ms-input-placeholder {
		color: lighten($site-copy-color, 16%);
	}

}